In [1]:
import pandas as pd 
import numpy as np

In [2]:
from numpy.random import randn


df = pd.DataFrame(randn(5,7),index='1 2 3 4 5'.split(),columns='7 8 9 10 11 12 13'.split())
df

          7         8         9        10        11        12        13
1 -0.448970  0.130522  0.499194 -0.380503  0.241641 -0.187671 -0.827072
2  0.427801 -0.065609 -0.522212  0.207220  0.899982 -1.671442  1.241008
3  0.404729 -0.291002 -0.433843  0.733121  0.330615 -0.194171 -0.428751
4 -1.163356 -0.719902  0.237301 -0.065298 -0.925302  0.128030  0.117360
5 -0.514628 -1.602406 -0.252379 -0.728759 -0.291126  0.995656  0.588407

In [3]:
df['7']

1   -0.448970
2    0.427801
3    0.404729
4   -1.163356
5   -0.514628
Name: 7, dtype: float64

In [4]:
df[['8','12']]

          8        12
1  0.130522 -0.187671
2 -0.065609 -1.671442
3 -0.291002 -0.194171
4 -0.719902  0.128030
5 -1.602406  0.995656

In [5]:
df['15'] = df['7'] + df['8']

In [6]:
df

,7,8,9,10,11,12,13,15
1,-0.448970,0.130522,0.499194,-0.380503,0.241641,-0.187671,-0.827072,-0.318448
2,0.427801,-0.065609,-0.522212,0.207220,0.899982,-1.671442,1.241008,0.362191
3,0.404729,-0.291002,-0.433843,0.733121,0.330615,-0.194171,-0.428751,0.113727
4,-1.163356,-0.719902,0.237301,-0.065298,-0.925302,0.128030,0.117360,-1.883258
5,-0.514628,-1.602406,-0.252379,-0.728759,-0.291126,0.995656,0.588407,-2.117034

In [7]:
df.drop('15',axis=1)

          7         8         9        10        11        12        13
1 -0.448970  0.130522  0.499194 -0.380503  0.241641 -0.187671 -0.827072
2  0.427801 -0.065609 -0.522212  0.207220  0.899982 -1.671442  1.241008
3  0.404729 -0.291002 -0.433843  0.733121  0.330615 -0.194171 -0.428751
4 -1.163356 -0.719902  0.237301 -0.065298 -0.925302  0.128030  0.117360
5 -0.514628 -1.602406 -0.252379 -0.728759 -0.291126  0.995656  0.588407

In [8]:
df.drop('9',axis=1,inplace=True)

In [9]:
df

          7         8        10        11        12        13        15
1 -0.448970  0.130522 -0.380503  0.241641 -0.187671 -0.827072 -0.318448
2  0.427801 -0.065609  0.207220  0.899982 -1.671442  1.241008  0.362191
3  0.404729 -0.291002  0.733121  0.330615 -0.194171 -0.428751  0.113727
4 -1.163356 -0.719902 -0.065298 -0.925302  0.128030  0.117360 -1.883258
5 -0.514628 -1.602406 -0.728759 -0.291126  0.995656  0.588407 -2.117034

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('demo')
df

In [ ]:
df.to_csv('xyz',index=False)

In [ ]:
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

In [ ]:
df.to_excel('Excel_Sample.xlsx')

In [ ]:
import numpy as np

df = pd.Dataframe({'A':[1,2,np.nan],
                   'B':[11,np.nan,1],
                   'C':[33,2,31]})

In [ ]:
df

In [ ]:
import matplotlib.pyplot as plt
# Histogram of grades
plt.hist(['Grade'], bins = 14)
plt.xlabel('Grade')
plt.ylabel('Count')
plt.title('Distribution of Final Grades')

In [ ]:
pip install matplotlib

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
list - []
tuple - ()
dict - {}

In [ ]:
squares = [1,2,3,4,5]
plt.plot(squares)
plt.show

In [ ]:
plt.plot(squares,linewidth=5)
plt.show()

In [ ]:
plt.title("Square numbers" , fontsize = 24)
plt.xlabel("Values" , fontsize = 14)
plt.ylabel("Squares of that values" , fontsize=14)
plt.plot(squares,dash_capstyle = "round")
plt.tick_params(axis= "both" , labelsize = 10)
plt.show()

In [ ]:
input_values = [1,2,3,4,5]
squares = [1,4,9,16,25]
plt.plot(input_values,squares,linewidth=10)

In [ ]:
plt.scatter(1,86)
plt.show()

In [ ]:
x_labels=[1,2,3,4,5]
y_labels=[1,4,9,16,25]
plt.scatter(x_labels,y_labels,s=50)
plt.show()

In [ ]:
x_values = list(range(1,10))
print(x_values)
y_values = [x**2 for x in x_values]
print(y_values)
plt.scatter(x_values,y_values,c=y_values,cmap=plt.cm.Reds,s=50)
plt.show()

In [ ]:
plt.savefig('scatter18.png',bbox_inches='tight')

In [ ]:
from sklearn.model_selection import train_test_split
# df is features and labels are the targets 
# Split by putting 25% in the testing set
X_train, X_test, y_train, y_test = train_test_split(df, labels, 
                                                   test_size = 0.25,
                                                    random_state=42)